* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

.app {
  display: flex;
}
.nav {
  position: fixed;
  width: 200px;
  background-color: #f8f9fa;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  margin-left: 220px;
  padding: 20px;
  width: calc(100% - 220px);
}

.nav button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.nav button:hover {
  background-color: #0056b3;
}
